<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    <title>Product Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../homeCust/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../homeCust/css/bootstrap.min.css">
    <link rel="stylesheet" href="../homeCust/css/magnific-popup.css">
    <link rel="stylesheet" href="../homeCust/css/jquery-ui.css">
    <link rel="stylesheet" href="../homeCust/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../homeCust/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../homeCust/css/aos.css">
    <link rel="stylesheet" href="../homeCust/css/style.css">
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class="text-center">PRODUCT DETAILS</h2>
    <form action="./add2cart" method="POST">
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="border">
              <img src="data:image/jpg;base64,<%=prod.image%>" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="text-black"><%=prod.name%></h2>
            <p><%=prod.category.name%></p>
            <p><strong class="text-primary h4"><%=prod.price%></strong></p>
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
              <input type="number" class="form-control text-center" name="txtQuantity" value="1" min="1" max="99" placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1" required>
            </div>
          </div>
            <p>
              <td><input type="hidden" name="txtID" value="<%=prod._id%>" /></td>
              <td><input type="submit" value="ADD TO CART" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" /></td>
            </p>
          </div>
        </div>
      </div>
    </div>
    </form>

    <!-- <figure class="caption-right">
      <img src="data:image/jpg;base64,<%=prod.image%>" width="400" height="400" />
      <figcaption>
        <form action="./add2cart" method="POST">
          <table>
            <tr>
              <td align="right">ID:</td>
              <td><%=prod._id%></td>
            <tr>
            <tr>
              <td align="right">Name:</td>
              <td><%=prod.name%></td>
            <tr>
            <tr>
              <td align="right">Price:</td>
              <td><%=prod.price%></td>
            <tr>
            <tr>
              <td align="right">Category:</td>
              <td><%=prod.category.name%></td>
            <tr>
            <tr>
              <td align="right">Quantity:</td>
              <td><input type="number" name="txtQuantity" value="1" min="1" max="99" required /></td>
            <tr>
            <tr>
              <td><input type="hidden" name="txtID" value="<%=prod._id%>" /></td>
              <td><input type="submit" value="ADD TO CART" /></td>
            </tr>
          </table>
        </form>
      </figcaption>
    </figure> -->
  </div>
</body>
</html>