<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MADEWELL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../homeCust/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../homeCust/css/bootstrap.min.css">
    <link rel="stylesheet" href="../homeCust/css/magnific-popup.css">
    <link rel="stylesheet" href="../homeCust/css/jquery-ui.css">
    <link rel="stylesheet" href="../homeCust/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../homeCust/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../homeCust/css/aos.css">

    <link rel="stylesheet" href="../homeCust/css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    

    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="./search" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="home" class="js-logo-clone">MadeWell</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li>
                  <a href="home">HOME</a>
                </li>
                
                <li><a href="listproduct">LAPTOP</a></li>
                <li><a href="listproduct">SMARTPHONE</a></li>
                <li><a href="listproduct">ACCESSORIES</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-offset-4" >
            <%  if (session.customer) {  %>
            Hello <b><%=session.customer.name%></b> | <a class="icons-btn logout" href="./logout">Logout</a> | <a href="./myprofile">My profile</a> | <a href="./myorders">My orders</a>
            <%  } else {  %>
            <a class="icons-btn Login" href="./login">Login </a> | <a class="icon-btn signup" href="./signup">Sign up</a> 
            <%  } %>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="mycart" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number"><%= (session.mycart) ? session.mycart.length : 0 %></span>
              <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row align-items-center">
          <div class="site-blocks-cover inner-page py-5"  data-aos="fade">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 ml-auto order-lg-2 align-self-start">
                  <div class="site-block-cover-content">
                  <div class="featured-hero-product w-100">
                    <h1 class="mb-2">Madewell</h1>
                    <h4>Thế Giới Công Nghệ</h4>
                  </div>                    
                  </div>
                </div>
                <div class="col-lg-6 order-1 align-self-end">
                  <img src="../homeCust/images/dem21.jpg" alt="Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <br/>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Hot Products</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <table class="database">
          <%  for (var prod of hotprods) { %>
            <th>
              <div class="inline">
                <figure>
                  <a href="./details?id=<%=prod._id%>"><img src="data:image/jpg;base64,<%=prod.image%>" width="300px" height="300px" /></a>
                    <figcaption class="text-center"><%=prod.name%><br />Price: <%=prod.price%></figcaption>
                </figure>
              </div>
            </th>
          <%  } %>
    </table>
  </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">More Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 owl-carousel"> 
              <%  for (var prod of newprods) { %>            
              <div class="product">
                <a href="./details?id=<%=prod._id%>"><img src="data:image/jpg;base64,<%=prod.image%>" width="300px" height="300px" /></a>
                <figcaption class="text-center"><%=prod.name%><br />Price: <%=prod.price%></figcaption>
              </div>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-blocks-cover inner-page py-5"  data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-lg-6 mb-4 mb-lg-0">
          <div class="block-7">
            <strong class="text-uppercase"></strong>
            <h3 class="footer-heading mb-4">MÔ TẢ</h3>
            <p>MADEWELL cung cấp những sản phẩm tốt nhất với giá ưu đãi nhất khó nơi nào có thể làm được, với giá cả hợp lí, nhân viên tận tình bạn sẽ cảm thấy thoải mái khi chọn chúng tôi</p>
          </div>
        </div>
        <div class="col-lg-5 ml-auto mb-10 mb-lg-0">
          <div class="text-right">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">K24T-PM2</li>
              <li class="phone"><a>0123456789</a></li>
              <li class="email">VLU@vanlanguni.vn</li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <script src="../homeCust/js/jquery-3.3.1.min.js"></script>
  <script src="../homeCust/js/jquery-ui.js"></script>
  <script src="../homeCust/js/popper.min.js"></script>
  <script src="../homeCust/js/bootstrap.min.js"></script>
  <script src="../homeCust/js/owl.carousel.min.js"></script>
  <script src="../homeCust/js/jquery.magnific-popup.min.js"></script>
  <script src="../homeCust/js/aos.js"></script>

  <script src="../homeCust/js/main.js"></script>
    
  </body>
</html>